<html>
<head>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-S7YMK1xjUjSpEnF4P8hPUcgjXYLZKK3fQW1j5ObLSl787II9p8RO9XUGehRmKsxd" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="/static/chart-theme.js"></script>
    <link rel="stylesheet" href="/static/styles/styles.css">

    <title>Dashboard</title>
</head>
<body>
<div id="main-layout" style="width: 100%; height: 100%">
    <div id="my-chart"></div>
    <div id="sidebar">
        <table id="point-table" class="table table-striped table-hover ">
            <thead>
            <tr>
                <th>Time</th>
                <th>Last</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    function afterSetExtremes(e) {

        var chart = Highcharts.charts[0];

        chart.showLoading('Loading data from server...');
        $.post("http://localhost:8000/dashboard/series/", {
            start: Math.round(e.min),
            end: Math.round(e.max)
        }, function (data, textStatus) {
            chart.series[0].setData(data);
            chart.hideLoading();
            updateSelectedPoints();
        }, "json");
    }

    function updateSelectedPoints() {
        $.getJSON('http://localhost:8000/dashboard/points/', function (data) {
            $("#point-table").find("> tbody").empty();
            let chart = Highcharts.charts[0];

            for (let j = 0; j < chart.getSelectedPoints().length; j++) {
                chart.getSelectedPoints()[j].select(false)
            }
            for (let i = 0; i < data.length; i++) {
                let point = data[i];
                $('#point-table').find('tbody').append('<tr><td>' + point.time + '</td><td>' + point.price + '</td></tr>>')
                if (typeof chart !== 'undefined') {
                    for (let j = 0; j < chart.series[0].data.length; j++) {
                        if (typeof chart.series[0].data[j] !== 'undefined' && chart.series[0].data[j].x === point.time) {
                            chart.series[0].data[j].select(true, true);
                        }
                    }
                }
            }
        });
    }

    $.getJSON('http://localhost:8000/dashboard/init/', function (data) {
        var start = data.start;
        var end = data.end;

        $.post("http://localhost:8000/dashboard/series/", {
            start: start,
            end: end
        }, function (data, textStatus) {

            // split the data set into ohlc and volume
            var ohlc = [],
                volume = [],
                dataLength = data.length,
                // set the allowed units for data grouping

                i = 0;

            for (i; i < dataLength; i += 1) {
                ohlc.push([
                    data[i][0], // the date
                    data[i][1], // open
                    data[i][2], // high
                    data[i][3], // low
                    data[i][4] // close
                ]);

                volume.push([
                    data[i][0], // the date
                    data[i][5] // the volume
                ]);
            }

            var oldColor;
            // create the chart
            $('#my-chart').highcharts('StockChart', {

                plotOptions: {
                    series: {
                        borderColor: '#000000',
                        dataGrouping: {
                            enabled: false
                        },
                        allowPointSelect: false,
                        states: {
                            select: {
                                color: 'yellow',
                            }
                        },
                        cursor: 'pointer',
                        point: {
                            events: {
                                click: function () {
                                    if (this.selected) {
                                        this.select(false);
                                        $.post('http://localhost:8000/dashboard/removePoint/', {'time': this.x},
                                            function (data, message) {
                                                updateSelectedPoints();
                                            }, "json");
                                    } else {
                                        this.select(true, true);
                                        $.post('http://localhost:8000/dashboard/addPoint/', {'time': this.x},
                                            function (data, message) {
                                                updateSelectedPoints();
                                            }, "json");
                                    }
                                }
                            }
                        },

                    },
                    candlestick: {
                        color: '#C60606',
                        upColor: '#00B909'
                    }
                },

                rangeSelector: {
                    inputEnabled: true,
                    selected: 1
                },

                navigator: {
                    adaptToUpdatedData: false,
                    series: {
                        data: ohlc
                    }
                },

                title: {
                    text: 'AAPL Stock Price'
                },

                series: [
                    {
                        type: 'candlestick',
                        name: 'AAPL Stock Price',
                        data: ohlc,
                    },
                    {
                        type: 'column',
                        name: 'Volume',
                        data: volume,
                        yAxis: 1,
                    }
                ],

                xAxis: {
                    min: start,
                    end: end,
                    events: {
                        afterSetExtremes: afterSetExtremes
                    }
                },

                yAxis: [{
                    labels: {
                        align: 'right',
                        x: -3
                    },
                    title: {
                        text: 'OHLC'
                    },
                    height: '60%',
                    lineWidth: 2
                }, {
                    labels: {
                        align: 'right',
                        x: -3
                    },
                    title: {
                        text: 'Volume'
                    },
                    top: '65%',
                    height: '35%',
                    offset: 0,
                    lineWidth: 2
                }],

            });
        }, "json");

        updateSelectedPoints();
    });


</script>
</body>
</html>